<div class="similarity-search-container tui-space_top-4">
  <div tuiAppearance="floating" tuiCardLarge>
    <div>
      <tui-textfield>
        <label tuiLabel>Введите описание товара</label>
        <textarea tuiTextarea [formControl]="descriptionKControl"></textarea>
      </tui-textfield>
      <tui-error
        [error]="[] | tuiFieldError | async"
        [formControl]="descriptionKControl"
      />
    </div>

    <div class="request-parameters">
      <div>
        <tui-textfield>
          <label tuiLabel>Количество записей</label>
          <input
            tuiInputNumber
            [min]="1"
            [step]="1"
            [formControl]="topKControl"
          />
        </tui-textfield>
        <tui-error
          [error]="[] | tuiFieldError | async"
          [formControl]="topKControl"
        />
      </div>
      <div>
        <tui-textfield>
          <label tuiLabel>Порог сходимости</label>
          <input
            postfix="%"
            tuiInputNumber
            [max]="100"
            [min]="0"
            [step]="1"
            [formControl]="similarityThresholdControl"
          />
        </tui-textfield>
        <tui-error
          [error]="[] | tuiFieldError | async"
          [formControl]="similarityThresholdControl"
        />
      </div>
    </div>

    <app-elastic-filter
      [filterProperties]="{
        addingTitle: 'Добавить фильтр по клиенту',
        removingTitle: 'Удалить клиента',
        label: 'Введите клиента'
      }"
    />

    <app-elastic-filter
      [filterProperties]="{
        addingTitle: 'Добавить фильтр по спецификации',
        removingTitle: 'Удалить спецификацию',
        label: 'Введите спецификацию'
      }"
    />

    <app-button-block
      [titles]="{ left: 'Найти', right: 'Очистить' }"
    />
  </div>

  @if (userSearchResponse.items.length > 0) {
    <app-similarity-search-table
      [userSearchResponse]="userSearchResponse"
    />
  }
</div>
