<div class="add-specification-container tui-space_top-4">
  <div tuiAppearance="floating" tuiCardLarge>
    <app-file-input-field
      [fileInputProperties]="{ label: 'Добавить файл спецификации', extension: '.xlsx' }"
      (fileChanged)="onFileChange($event)"
    />

    <div class="request-parameters">
      <div>
        <tui-textfield>
          <label tuiLabel>Клиент</label>
          <textarea tuiTextarea [formControl]="formGroup.controls.client"></textarea>
        </tui-textfield>
        <tui-error
          [error]="[] | tuiFieldError | async"
          [formControl]="formGroup.controls.client"
        />
      </div>
      <div>
        <tui-textfield>
          <label tuiLabel>Спецификация</label>
          <textarea tuiTextarea [formControl]="formGroup.controls.specification"></textarea>
        </tui-textfield>
        <tui-error
          [error]="[] | tuiFieldError | async"
          [formControl]="formGroup.controls.specification"
        />
      </div>
    </div>

    <app-button-block
      [titles]="{ left: 'Сохранить', right: 'Отмена' }"
    />

  </div>
</div>
