.visible {
  overflow: visible;
  gap: 1rem;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    width: 20rem;
  }
}

.remove {
  margin-inline-start: auto;
  margin-left: 3px;
}
